html
  head
    title Nats Helper
  body
    h1= comp.competition.name
    p
      div
        a(href='/'+comp.competition.id+'/schedule') Schedule Builder
      div
        a(href='/'+comp.competition.id+'/viewer') Data Viewer
