mixin table(data)
  if data.rows.length == 0
    i No rows were returned
  table
    tr
      each header in data.headers
        th= header
    each row in data.rows
      tr
        each cell in row
          td(style=cell.value == null ? 'background-color: #ccc' : '')
            if cell.link !== null
              a(href=cell.link)
                if cell.value !== null
                  =cell.value.toString()
            else
              if cell.value !== null
                =cell.value.toString()
